.linktree__credits {
    &--outer-container {
        img {
            width: 100%;
            object-fit: contain;
            margin-top: 50px;
            margin-bottom: 50px;

            @include lg {
                max-width: 400px;
                margin-top: 0;
                height: auto;
            }
        }

        p {
            color: $linktree-white;
            text-align: center;
            margin-top: 0;
            margin-bottom: 50px;
        }

        > div {
            text-align: center;
            max-width: 300px;
            margin: 0 auto;

            audio {
                width: 100%;
            }
        }
    }
}